* {
	margin: 0;
}

html {
	height: 100%;
}

body {
	background-color: #fdfdfd;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
	padding-top: 70px;
}

img {
 	max-width: 100%;
}


#green-terminal {
	color: #00ff00;
}

.font-header {
	font-family: 'Inconsolata', monospace;
}

.font-paragraph {
	font-family: 'Open Sans', sans-serif;
}

nav {
	font-size: 1.5em;
}

.dropdown-menu li {
	font-size: 1.5em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Concert One', cursive;
}

h1 > a:hover {
	text-decoration: none;
}

h1 {
	margin: 20px 0;
}

h2 {
	margin: 10px 0;
}

#user-name {
	font-size: 5em;
	text-transform: uppercase;
}

.user-description {
	border-style: solid;
	border-width: 5px;
	border-color: #292929;
	margin-top: 20px;
	margin-bottom: 1em;
	padding: 15px;
	font-size: initial;
}

.project-description {
	border-style: solid;
	border-width: 5px;
	border-color: #292929;
	margin-top: 0;
	margin-bottom: 0;
	padding: 15px;
	font-size: initial;
}

.project-description.first {
	margin-top: 24px;
}

.project-description.in-progress {
	border-color: #d7f100;
}

.project-description.complete {
	border-color: #1af100;
}

.connector {
	height: 50px;
	width: 2px;
	margin: 0 auto;
	background-color: black;
}

table.tech-table {
	border: 1px solid black;
	margin: 0 auto;
}

table.tech-table > tbody > tr > td {
	border: 1px solid black;
	padding: 4px 12px;
}


.user-profile {
	padding: 0;
}

.user-picture {
	border-style: solid;
	border-width: 5px;
	border-color: #292929;
	margin-top: 20px;
}

i {
	margin: 10px 20px 10px 20px;
	color: #333;
}

.post-link {
	float: left;
	margin: 0;
	line-height: 40px;
	height: inherit;
}

.post-link > a {
	height: 40px;
	display: block;
	line-height: 40px;
}

.post-link > a:hover {
	text-decoration: none;
}

.post-date {
	float: right;
	line-height: 48px;
}

.float-right {
	float: right;
}

.post-header {
	background-color: #F5F5F5;
	overflow: hidden;
	padding: 0 5px 0 5px;
	height: 40px;
	line-height: 32px;
}

.post-summary, .post-content{
	clear: both;
}

.post-summary {
	padding: 0 5px 0 5px;
}

.post-list-footer {
	padding-bottom: 5px;
}

#post-list {
	list-style: none;
	padding-left: 0;
}

.post-list-item {
	margin-top: 20px;
	border-style: solid;
	border-width: 0;
	border-color: #292929;
}

.post-comments {
	padding-top: 10px;
	border-top-style: solid;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -50px;
}

.footer {
	background-color: #F5F5F5;
	display: block;
	line-height: 30px;
	width: 100%;
	padding: 10px;
	height: 50px;
}

.push {
	height: 50px;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

div p {
	text-align: justify;
}

td {
	margin: 0 20px 0 20px;
}

a.quote-link {
	color: #333;
	cursor: pointer;
}

figure {
	text-align: center;
	padding: 8px;
	background-color: #eee;
}

figure p {
	text-align: center;
	margin: 10px 0 2px;
}

@media (min-width: 1200px) {
	.container {
		width: 820px;
	}
}

span.post-title {
	font-family: 'Concert One', cursive;
	font-size: 36px;
}


.ingredients-list {
	float: left;
	width: 55%;
	position: relative;
	border: 1px solid gray;
	padding: 10px 24px;
}

.recipe-summary {
	float: right;
	width: 35%;
	position: relative;
	border: 1px solid gray;
	padding: 10px 24px;
}

.tips, .directions, .personal-notes {
	width: 100%;
	float: left;
	margin-top: 24px;
	border: 1px solid gray;
	padding: 10px 24px;
}
