html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
}

.back-to-site-link {
  position: fixed;
  left: 24px;
  top: 12px;
  font-size: 24px;
  color: white;
  text-decoration: underline;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}

.results-container {
  background-color: #fff;
  color: black;
  margin: 2rem;
  display: flex;
  border-radius: 4px;
}

.results-container > .results-container-section {
  flex: 1;
}

.results-container-section > .result-name {
  font-size: 36px;
  font-weight: bold;
}

.results-container-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.results-container-section > .result-location {
  font-size: 24px;
}

.results-container-section > img {
  max-width: 100%;
  min-height: 200px;
}

.input-group {
  height: 48px;
}

.input-group > input {
  height: inherit;
}

/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .mastfoot,
  .cover-container {
    width: 767px;
  }
}
